<h1>Hello World</h1>

<button (click)="backgroundToggle = !backgroundToggle">Toggle</button>

<!--<div [ngStyle]="{-->
<!--    width: '200px',-->
<!--    height: '200px',-->
<!--    borderRadius: '5px',-->
<!--    border: '1px solid black',-->
<!--    background: backgroundToggle ? 'red' : 'blue'-->
<!--}">-->

<!--</div>-->

<!--<p [ngClass]="{red: backgroundToggle, blue: !backgroundToggle}">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores blanditiis cumque dolore et eveniet harum ipsa-->
<!--    itaque laborum minus nihil nisi non omnis provident quae quasi quibusdam, ratione rerum veniam!</p>-->

<p [class.red]="backgroundToggle"
   [class.blue]="!backgroundToggle"
>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur error, inventore. Aspernatur beatae debitis
    distinctio esse eveniet expedita, facere ipsa itaque maiores nostrum, porro qui quis quisquam, temporibus ullam
    veritatis!</p>
